/* .App {
  text-align: center;
} */

.carousel{
  width:51.875rem;
  height: 21.25rem;
  box-shadow: 5px 10px #5c5c5c;
  box-sizing: border-box;
  display: inline-block;

}

.carousel-control-prev{
  margin-left: 0.125rem;
  font-weight: bold;
}

.carousel-control-next{
  margin-right: 0.125rem;
  font-weight: bold;
}

.carousel-control-prev-icon{
  margin-left: -5rem;
}

.carousel-control-next-icon{
  margin-right: -5rem;
}

.sr-only{
  display: none;
}

.breadCrumb {
  margin-top: 6.25rem;
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: 0;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  padding-left: 0.625rem;
  margin-bottom: 0.875rem;
}

.zone-form {
  display: inline-block;
  background: #f0f0f0;
  padding: 0.938rem 1.563rem;
  border-radius: 0.625rem;
  width: 100%;
  min-height: 21.25rem;
  vertical-align: top;
}

.zone-form p{
  text-align: center;
  font-size: 28px;
  margin-top: 60px;
}

