/* .App {
  text-align: center;
} */

body{
  font-family: 'Montserrat-Light', sans-serif;
  overflow-x: hidden;
}



.NavBar{
  background: #ded101 url("./images/bg_header.jpg") top center;
}

.carouselControlWrapper {
  filter: invert(1)
}



/* HERO SECTION */

.carousel{
  width:51.875rem;
  height: 21.25rem;
  box-shadow: 7px 5px 5px #5c5c5c;
  display: inline-block;

}

.carousel-control-prev{
  margin-left: 0.125rem;
  font-weight: bold;
}

.carousel-control-next{
  margin-right: 0.125rem;
  font-weight: bold;
}

.carousel-control-prev-icon{
  margin-left: -5rem;
}

.carousel-control-next-icon{
  margin-right: -5rem;
}

.sr-only{
  display: none;
}

.breadCrumb {
  margin-top: 6.25rem;
  background: white;
  border: 1px solid #e4e4e4;
  border-radius: 0;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  padding-left: 0.625rem;
  margin-bottom: 0.875rem;
}

.zone-form {
  display: inline-block;
  background: #f0f0f0;
  padding: 0.938rem 1.563rem;
  border-radius: 0.625rem;
  width: 100%;
  min-height: 21.25rem;
  vertical-align: top;
}

.zone-form p{
  text-align: center;
  font-size: 28px;
  margin-top: 60px;
}

/* FIN DE HERO SECTION */


/* PRODUCTS */
.col{
  padding: 0px;
}
.product-container{
  width: 85%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 10px;
  

}

.cuadrado{
  border: 1px solid #a9a9a9;
  padding: 0.9rem;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 75%);
  margin-bottom: 20px;
  display: flex;
  height: 18rem;
}

.cuadrado p{
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  color: #adadad;
}

.bebida{
  width: 69px;
  height: 215px;
}

.logo-bebida{
  width: 85px;
  height: 47px;
  margin: 20px auto;
}

.product-container button{
  background: #ffffa8;
  color: #9e7d60;
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 75%);
  text-transform: uppercase;
  text-align: center;
  
}

.products-container{
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  margin-left: 11.625rem;
  overflow: hidden;
}

.title{
  font-size: 25px;
  text-transform: uppercase;
  color: #645c25;
}

.pagination, .pagination2{
  margin-bottom: 15px;
}

.numeros{
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 20px;
  font-weight: bold;
}

.numUno{
  float: right;
}

.btnOneNext{
  float: left;
}

.numDos{
  float: left;
}

.btnDosNext{
  float: right;
}

.btnNext{
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    
}



/* FIN PRODUCTS */

